<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Hector | 404</title>
    <meta name="description" content="Este es el blog de Hector Franco. Se habla de variados temas (desde matemáticas hasta programación).">
    <link rel="stylesheet" href="styles/social-22-04-20.min.css">
    <link rel="stylesheet" href="styles/header-16-04-20.min.css">
    <link rel="stylesheet" href="styles/404-14-04-20.min.css">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="DH_title"><a href="home.html">Blog de Hector</a></h1>
            <nav>
                <ul class="DH_navbar__ul">
                    <li class="DH_navbar__li"><a href="#">Todo</a></li>
                    <li class="DH_navbar__li"><a href="#">Matemáticas</a></li>
                    <li class="DH_navbar__li"><a href="#">Programación</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <aside  class="aside-left">
        <a
            href="https://twitter.com/intent/tweet?text=Hey! Conoce este interesante blog en &url=https://dehector.com"
            class="DH_aside__a DH_aside__a-twitter"
            target="_blank" rel="noopener noreferrer">
            <i class="icon-twitter" aria-label="twitter icon"></i>
        </a>
        <a
            href="https://www.facebook.com/sharer?u=https://dehector.com"
            class="DH_aside__a DH_aside__a-facebook"
            target="_blank" rel="noopener noreferrer">
            <i class="icon-facebook" aria-label="facebook icon"></i>
        </a>
        <a
            href="#"
            class="DH_aside__a DH_aside__a-feed">
            <i class="icon-feed" aria-label="feed icon"></i>
        </a>
    </aside>

    <main>
        <div class="container">
            <p class="DH_404__title">No existe lo que buscabas</p>
            <p class="DH_404__description">Por favor intenta con otra búsqueda.</p>
        </div>
    </main>

    <aside class="aside-bottom">
        <div class="container">
            <a
                href="https://twitter.com/intent/tweet?text=Hey! Conoce este interesante blog en &url=https://dehector.com"
                class="DH_aside__a DH_aside__a-twitter"
                target="_blank" rel="noopener noreferrer">
                <i class="icon-twitter" aria-label="twitter icon"></i>
            </a>
            <a
                href="https://www.facebook.com/sharer?u=https://dehector.com"
                class="DH_aside__a DH_aside__a-facebook"
                target="_blank" rel="noopener noreferrer">
                <i class="icon-facebook" aria-label="facebook icon"></i>
            </a>
            <a
                href="#"
                class="DH_aside__a DH_aside__a-feed">
                <i class="icon-feed" aria-label="feed icon"></i>
            </a>
        </div>
    </aside>
</body>
</html>