<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Blog de Hector</title>
    <meta name="description" content="Este es el blog de Hector Franco. Se habla de variados temas (desde matemáticas hasta programación).">
    <link rel="stylesheet" href="{{SITEURL}}/theme/css/social-22-04-20.min.css">
    <link rel="stylesheet" href="{{SITEURL}}/theme/css/header-16-04-20.min.css">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <header>
        <div class="container">
            <h1 class="DH_title"><a href="{{SITEURL}}/">Blog de Hector</a></h1>
            <nav>
                <ul class="DH_navbar__ul">
                    <li class="DH_navbar__li"><a href="{{SITEURL}}/">Todo</a></li>
                    <li class="DH_navbar__li"><a href="{{SITEURL}}/category/matematicas">Matemáticas</a></li>
                    <li class="DH_navbar__li"><a href="{{SITEURL}}/category/programacion">Programación</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}{% endblock content %}

    {% block aside_left %}
    <aside  class="aside-left">
        <a
            href="https://twitter.com/intent/tweet?text=Hey! Conoce éste interesante Blog en &url=https://dehector.com"
            class="DH_aside__a DH_aside__a-twitter"
            target="_blank" rel="noopener noreferrer">
            <i class="icon-twitter" aria-label="twitter icon"></i>
        </a>
        <a
            href="https://www.facebook.com/sharer?u=https://dehector.com"
            class="DH_aside__a DH_aside__a-facebook"
            target="_blank" rel="noopener noreferrer">
            <i class="icon-facebook" aria-label="facebook icon"></i>
        </a>
        <a
            href="#"
            class="DH_aside__a DH_aside__a-feed">
            <i class="icon-feed" aria-label="feed icon"></i>
        </a>
    </aside>
    {% endblock %}


    {% block aside_bottom %}
    <aside class="aside-bottom">
        <div class="container">
            <a
                href="https://twitter.com/intent/tweet?text=Hey! Conoce éste interesante Blog en &url=https://dehector.com"
                class="DH_aside__a DH_aside__a-twitter"
                target="_blank" rel="noopener noreferrer">
                <i class="icon-twitter" aria-label="twitter icon"></i>
            </a>
            <a
                href="https://www.facebook.com/sharer?u=https://dehector.com"
                class="DH_aside__a DH_aside__a-facebook"
                target="_blank" rel="noopener noreferrer">
                <i class="icon-facebook" aria-label="facebook icon"></i>
            </a>
            <a
                href="#"
                class="DH_aside__a DH_aside__a-feed">
                <i class="icon-feed" aria-label="feed icon"></i>
            </a>
        </div>
    </aside>
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-163882509-1"></script>
    <script>window.dataLayer= window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','UA-163882509-1')</script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>