{% extends 'base.html' %}

{% block title %}Inicio{% endblock title %}


{% block extra_css %}
<link rel="stylesheet" href="{{SITEURL}}/theme/css/home-17-04-20.min.css">
{% endblock extra_css %}


{% block content %}
<main class="DH_posts">
    <section class="container">
        {% for post in articles_page.object_list %}
            {% if post.coverimage %}
            <article class="DH_post DH_post-image">
                <a href="{{ SITEURL }}/{{ post.url }}" class="DH_post__anchor" aria-label="Post link"></a>
                <figure class="DH_post__figure">
                    <img loading='lazy' src="{{post.coverimage}}" alt="">
                </figure>
                <div class="DH_post__info">
                    <div class="DH_post__title">
                        <h2>{{post.title}}</h2>
                    </div>
                    <div class="DH_post__intro">
                        <p>{{post.description}}</p>
                    </div>
                </div>
            </article>
            {% else %}
            <article class="DH_post DH_post-no-image">
                <a href="{{ SITEURL }}/{{ post.url }}" class="DH_post__anchor" aria-label="Post link"></a>
                <div class="DH_post__info">
                    <div class="DH_post__title">
                        <h2>{{post.title}}</h2>
                    </div>
                    <div class="DH_post__intro">
                        <p>{{post.description}}</p>
                    </div>
                </div>
            </article>
            {% endif %}
                
        {% endfor %}
    </section>
</main>    
{% endblock content %}